<!DOCTYPE html>
<html>
    <head>
        <title>통신 실험</title>
    </head>
    <body>
        <h1>Login</h1>
        <form method = "get" action="/login">
            <table>
                <label>name: </label>
                <input type = "text" name = "name"><br>
                <label>password: </label>
                <input type = "text" name = "password">
            </table>
            <br>
            <input type = "submit" value = "Login" name = "">
        </form>
        <form method = "post" action="/register">               
            <input type = "submit" value = "Register" name = "">
        </form>
        <form method = "post" action="/output">
            <input type = "submit" value = "User List" name = "">
        </form>
    </body>
</html>